body {
    background-color: rgb(211, 173, 246);
}

ul {
    max-width: 800px;
    border: rgba(165, 10, 255, 0.529) 1px solid;
    border-radius: 30px;
    overflow: hidden;
}

li {
    list-style: none;
    cursor: pointer;
    user-select: none;
}

.done {
    text-decoration: line-through rgb(187, 0, 255);
}

span,
li {
    border: solid 1px rgba(165, 10, 255, 0.529);
    background-color: rgb(232, 208, 255);
}

.fa-xmark {
    text-align: center;
    vertical-align: middle;
    padding-bottom: 2px;
    cursor: pointer;
}

.btn {
    background-color: blueviolet;
}