ul {
    max-width: 800px;
    border: black 1px solid;
}

li {
    list-style: none;
    border: blue 1px solid;
}

.done {
    text-decoration: line-through;
}

span {
    border: solid 1px black;
}

.fa-xmark {
    text-align: center;
    vertical-align: middle;
    padding-bottom: 2px;
}